<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some website</title>
  </head>
  <body>
    {{> header}}   
    <p>Some fucking text here!</p>
    <p>Using engine is so awesome!!!</p>

    {{> footer}}
  </body>
</html>
